{{ partial "header.html" . }}
<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Description }}</h2>
</div>
<div id="post-content" class="content">

  <div class="meta-flexbox">{{ partial "post_meta.html" . }}</div>

{{$b := or .Params.simpletoc (or (isset .Params "showchapter") (isset .Params "showtoc"))}}
{{ if ($b) }}
  {{ partial "simpletoc.html" . }}
{{ end }}  
  
{{ .Content }}
{{ partial "prev_next_post.html" . }}
{{ partial "disqus.html" . }}
</div>

<!-- modified by krup -->
{{ if eq .Params.mathjax true}}
<script src="{{ .Site.BaseURL }}js/mathcode.js"></script>
<script async src="//cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ end }}

{{ if and (not .Params.disable_highlight) (in (string .Content) "</pre>") }}
<script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>
{{ end }}

{{ partial "footer.html" . }}