<script src="/js/simpletoc.js"></script>
<script>
	var firstLvl = 1; // h1开始
	var lastLvl = 3;  // h3结束
	var divID = "TOC";
	var divToSearch = "post-content";
	window.onload=function(){
		//参数控制
		// 参数一：起始level，默认为h2
		// 参数二：末位Level，默认为h3
		// 参数三：用于生成toc的divID，默认为TOC
		// 参数四：搜索headlines的divID
		
		toc(firstLvl, lastLvl, divID, divToSearch, {{if isset .Params "showchapter"}}{{.Params.showchapter}}{{else}}{{true}}{{end}}, {{if isset .Params "showtoc"}}{{.Params.showtoc}}{{else}}{{true}}{{end}});
		diyStyle(divID);
		addNewStyle('@media (max-width: 48em) {#'+divID+'{display: none;} }');
		addNewStyle('@media (max-width: 64em) {#'+divID+'{display: none;} }');
		addNewStyle('.TOCSectNum {margin-right: 0.5em;}');
	}
</script>
<div id="TOC"></div>