
.doc-main {
    font-size: 18px;
    line-height: 1.5;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
  
}


h1 { color:#009999;}
h2 { color:#336699;} 
h3 { color:#0099CC;}
h4 { color:#339999;}
h5 { color:#CC6699;}
h6 { color:#FF6666;}


.level2 > h2 {
  margin-left: -28px;
  border-left: 8px solid #336699;
  padding-left: 20px;
}
h3 {
  margin-left: -22px;
  border-left: 5px solid #0099CC;
  padding-left: 23px;
}
h4 {
  margin-left: -15px;
  border-left: 3px solid #0099CC;
  padding-left: 26px;
}

.content {
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 50px;
    line-height: 1.6em;
}


p + p {
  text-indent:2em; 
}


strong {
  color:#CC0033;
  margin-left: 2px;
  margin-right:2px;
}





/* 链接 样式*/

a:hover, a:focus {
    color: #FF6666;
    text-decoration: underline;
}
.pure-button:focus, a:active, a:hover {
    outline: 0;
}
a:visited {
      color: #CC3399;
}
a {
    color: #FF6600;
    text-decoration: none;
    background-color: transparent;
}

#menu a {
    color: #FF6666;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}
#menu .brand {color: #FF0033;}
#menu .social a {color: #FF9933;}
#menu small a {color: #FFFF00;}

header > h2 {
  padding-left: 1em;
  border-left: 8px solid #336699;
}





/* code */


code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}



blockquote {
    margin: 2em;
    padding-left: 20px;
    border: 1px solid #99CCCC;
    font-family: "PT Serif",serif;
    font-style: italic;
    transition: all 0.2s ease;
    color: #333332;
}


/* 列表 */

ol,ul {
  margin-left:1em;
  padding-left:1em;
}

ol + ul {
  margin-left: 1.5em;
}
