
.doc-main {
    font-size: 18px;
    line-height: 1.5;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
  
}


h1 { color:#111;}
h2 { color:#222;} 
h3 { color:#333;}
h4 { color:#444;}
h5 { color:#555;}
h6 { color:#666;}


h2 {
  margin-left: -28px;
  padding-left: 20px;
}



h3 {
  margin-left: -22px;
  padding-left: 23px;
}
h4 {
  margin-left: -15px;
  padding-left: 26px;
}

.content {
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 50px;
    line-height: 1.6em;
}


p {
  text-indent:2em; 
}


strong {
  color:#CC6699;
  margin-left: 2px;
  margin-right:2px;
}





/* 链接 样式*/

a:hover, a:focus {
    color: #FF6666;
    text-decoration: none;
}
.pure-button:focus, a:active, a:hover {
    outline: 0;
}

a,a:visited {
    color: #009966;
    text-decoration: none;
    background-color: transparent;
}


h2 a, h2 a:visited {
  color:#222;
}

h2 a:hover {
  color:#FF6666;
  text-decoration: none;
}

.post-meta{
  border-bottom: 1px solid #EEEEEE;
}


/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { 
  background: #f9f9f9;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
pre code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background: none;

  display: block;
  font-size: 0.85em;
  line-height: 1.3em;
}

blockquote {
    margin: 2em;
    padding-left: 20px;
    border: 1px solid #99CCCC;
    font-family: "PT Serif",serif;
    font-style: italic;
    transition: all 0.2s ease;
    color: #333332;
}


/* 列表 */

ol,ul {
  margin-left:1em;
  padding-left:1em;
}

ol + ul {
  margin-left: 1.5em;
}



table {
	font-family: verdana,arial,sans-serif;
	font-size:13px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}